@model List<Ogretmenler>



<div class="container">
    <div class="row pt-3 pb-4">
        <div><h3 style="color: #007bff;">Öğretmenler Sayfası</h3></div>
    </div>

    <table class="table table-bordered" style="background-color: rgba(255, 255, 255, 0.8);">
        <thead>
            <tr>
               @*  <th style="color: #007bff;">Id</th> *@
                <th style="color: #007bff;">Öğretmen  Ad & Soyad</th>
                <th style="color: #007bff;">Öğretmen Branş</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var Ogretmenler in Model)
            {
                <tr>
                   @*  <td>@Ogretmenler.Id</td> *@
                    <td>@Ogretmenler.Ad @Ogretmenler.Soyad</td>
                    <td>@Ogretmenler.Brans</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="Ogretmenler" asp-action="OgretmenEkle" class="btn btn-outline-primary" type="button">
                Yeni Öğretmen Ekle
            </a>
        </div>
    </div>

   
</div>





@* @model List<Ogretmenler>

<div class="container">
    <div class="row pt-3 pb-4">
        <div><h3>Öğretmenler Sayafı</h3></div>
    </div>

    <table class="table tablo-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Öğretmen Listesi</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var Ogretmenler in Model)
            {
                <tr>
                    <td>@Ogretmenler.Ad</td>
                    <td>@Ogretmenler.Soyad</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="Ogretmenler" asp-action="OgretmenEkle" class="btn btn-outline-secondary" type="button">
                Yeni Öğretmen Ekle
            </a>
        </div>
    </div>


</div> *@



@* <div class="row pt-3 pb-2"></div>
<h1>@ViewBag.ornek</h1>     @* // ViewBag ile merhabaağa *@ 
